@media screen and (min-width: 1320px){
    .container{
        width: 65% !important; 
    }
}
@media  screen and (max-width: 1160px) {
    .main-img{
        width: 50% !important;
    }
}

@media screen and (max-width:1040px) {
    .img1, .img2, .img3 {
        transform: scale(0.5) !important;
        display: none !important;
    } 
    .container{
        width: 85% !important;
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: center !important;
        align-items: center !important;
        height: fit-content !important;
        margin-bottom: 100px !important;
        /* margin-top: 435px; */

    }
    .total-container{
        margin-top: 50% !important;
        position: unset !important;
    }
    .main-img{
        width: 99% !important;
    }
    .row{
        width: 99% !important;
        height: fit-content !important;
        padding-bottom: 160px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        
    }
    #email, #password {
        height: 45px !important;
        margin-top: 15px !important;
        margin-bottom: 30px !important;
    }
    .form{
        width: 75% !important;
        transform: translateY(19%) !important;
        
    }
    #Login {
        height: 55px !important;
     }
     #tickbox{
        height: 50px !important;
        margin-bottom: 35px !important;
     }
}